#img-bg{
    background-image: url('https://http2.mlstatic.com/D_NQ_NP_685663-MLB43149400689_082020-O.webptps://http2.mlstatic.com/D_NQ_NP_617594-MLB31137309483_062019-W.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}